[submodule "f1tenth_gym_ros"]
	path = f1tenth_gym_ros
	url = https://github.com/bentjh01/f1tenth_gym_ros.git
[submodule "f1tenth_racetracks"]
	path = f1tenth_racetracks
	url = https://github.com/bentjh01/f1tenth_racetracks.git
